<p>
  <center><h3><%= @db[1] %></h3></center>
</p>
<p>
  <ul>
    <li>Album: <%= @db[2] %></li>
    <li>Genre: <%= @db[3] %></li>
    <li>Artist: <%= @db[4] %></li>
    <li>Composer: <%= @db[5] %></li>
    <li>Minutes: <%= @db[6] %></li>
    <li>Price U$: <%= @db[7] %></li>
  </ul>
</p>
